header {
  background-image: URL('../images/paper.jpg');
  height: 467px;
  position: relative;
  width: 100%;
}

select {
  color: #333366;
}

section {
  height: 40vh;
  width: 100%;
}

.btn-large {
  background-color: #5c6bc0;
  font-family: 'Courier New';
  font-size: 1.1em;
  height: 80px;
  line-height: 80px;
  position: relative;
  top: 5vh;
  width: 220px;
}

.btn-large:hover {
  background-color: #9fa8da;
}

.description {
  color: #333366;
  font-family: 'Avenir';
  text-align: center;
  position: relative;
  top: 5vh;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #333366;
  font-family: 'Courier New';
  font-size: 1.5rem;
  text-align: center;
}

.input-field label {
     color: #333366;
   }

.input-field input[type=text]:focus + label {
  color: #5c6bc0;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #5c6bc0;
  box-shadow: 0 1px 0 0 #5c6bc0;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #5c6bc0;
  box-shadow: 0 1px 0 0 #5c6bc0;
}

.input-field input[type=text].invalid {
  border-bottom: 1px solid #ef5350;
  box-shadow: 0 1px 0 0 #ef5350;
}

.left {
  text-align: right;
}

.logo {
  background-image: URL('../images/logo.png');
  background-repeat: no-repeat;
  display: block;
  height: 408px;
  margin: 0 auto;
  position: relative;
  top: 2vh;
  width: 779px;
}

.modal {
  color: #333366;
  font-family: 'Avenir';
}

@media only screen and (min-width: 600px) and (max-width: 790px) {

  .btn-large {
    margin: 10px 0;
  }

  .logo {
    background-image: URL('../images/logo_med.png');
    height: 306px;
    top: 8vh;
    width: 585px;
  }

  .left {
    text-align: right;
  }

}

@media only screen and (max-width: 600px) {

  .btn-large {
    font-size: 0.9em;
    line-height: 80px;
    margin: 10px 0;
    top: 5vh;
    width: 180px;
  }

  .logo {
    background-image: URL('../images/logo_small.png');
    height: 204px;
    top: 15vh;
    width: 390px;
    left: 10px;
  }

  .left, .right {
    text-align: center;
  }

}

@media only screen and (max-width: 415px) {

  h4 {
    font-size: 1.8em;
  }

  .btn-large {
    top: 1vh;
    width: 190px;
  }

  .description {
    top: 2vh;
  }

  .left, .right {
    text-align: center;
  }

}
