h5 {
  display: inline-block;
  font-size: 1.3rem;
}

nav {
  background-color: white;
  background-image: URL('../images/paper.jpg');
  height: 156px;
}

nav ul a {
  color: #333366;
  font-family: 'Courier New';
  font-size: 1.49rem;
  margin: 50px 20px 0 -19px;
  text-align: center;
  width: 150px;
}

.congrats {
  color: #808085;
  font-family: 'Avenier';
  font-size: 1.3rem;
  position: relative;
  text-align: center;
  top: 100px;
}

.dropdown-button {
  color: #333366;
  font-family: 'Courier New';
  font-size: 1.5rem;
  position: relative;
  top: 120px;
  width: 150px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #333366;
  font-family: 'Courier New';
  font-size: 1.5rem;
  text-align: center;
}

.brand-logo {
  margin: 7px 0 0 40px;
}

.logo {
  background-image: URL('../images/logo_extra_small.png');
  background-repeat: no-repeat;
  height: 150px;
  width: 300px;
}

.to_update {
  border-bottom: 1px solid #5c6bc0;
  color: #5c6bc0;
  font-family: 'Courier New';
  position: relative;
  top: 100px;
}
