#welcome-header {
  font-family: Cutive Mono;
  /*font-weight: bold;*/
  font-size: 6vw;
  text-align: center;
}

h4 {
  color: #333366;
  font-family: 'Avenir'
  font-weight: 100;
}

.btn-large {
  background-color: #5c6bc0;
  font-family: 'Courier New';
  font-size: 1.1em;
  height: 80px;
  line-height: 80px;
  margin: 0 0 15px 15px;
  position: relative;
  top: 5vh;
  width: 175px;
}

.left {
  text-align: right
}

.btn-large:hover {
  background-color: #9fa8da;
}

.btn {
  color: #5c6bc0
}

.dropdown-content li>span {
  color: #5c6bc0;
}

input.select-dropdown,
.dropdown-content li>span {
  font-family: 'Avenir'
}

.input-field {
  margin-top: 40px;
}

/*.recommended-dropdown {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 500px;
  border: 2px solid #5c6bc0;
  background-color: #ffffff;
  font-color: #5c6bc0
}*/

/* --- medium screen --- */
@media only screen and (max-width: 600px) {

  .btn-large {
    line-height: 80px;
    margin: 10px 0;
    top: 5vh;
    width: 165px;
  }

  h4 {
    font-size: 1.8em;
  }
}

/* --- small screen --- */
@media only screen and (max-width: 415px) {

  #welcome-header {
    font-size: 1.9em
  }

  h4 {
    font-size: 1.6em;
  }

  .btn-large {
    top: 1vh;
    width: 190px;
    margin-bottom: 15px
  }

  .left,
  .right {
    text-align: center;
  }

}
