a {
  color: #333366;
  text-decoration: none;
}

form {
  position: relative;
  top: 25px;
}

h4 {
  color: #333366;
  font-family: 'Avenir';
  padding-top: 40px;
  text-align: center;
}

h5 {
  display: inline-block;
  font-size: 1.3rem;
}

li {
  color: #333366;
  font-family: 'Avenir';
  font-size: 1.2rem;
  line-height: 43px;
}

nav {
  background-color: white;
  background-image: URL('../images/paper.jpg');
  height: 90px;
}

nav ul a {
  color: #333366;
  font-family: 'Avenir';
  font-size: 1.39rem;
  text-align: center;
  width: 160px;
}

p, form {
  display: inline-block;
  font-family: 'Avenir';
}

p, .instruct {
  color: #474784;
  font-family: 'Avenir';
  font-size: 1.2rem;
}

select {
  color: #333366;
}

table, .up-to-date {
  color: #474784;
  font-family: 'Avenir';
  font-size: 1.2rem;
  margin: 0 0 50px 0;
}

.sites-modal-table {
  left: 108px;
  position: relative;
  width: 600px;
}


td {
  width: 500px;
}

ul {
  margin: -10px 0 40px 100px;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #5c6bc0;
  border-bottom: 2px solid #5c6bc0;
}

.add {
  position: absolute;
  margin: 15px 0 0 25px;
  cursor: pointer;
}

.brand-logo {
  margin: 4px 0 0 0;
}

.btn-floating {
  color: #333366;
}

.btn-floating:hover {
  background-color: rgba(92, 107, 192, 0.6);
  color: white;
}

.customDesc {
  color: #333366;
  font-family: "Avenir";
  font-size: 1rem;
  margin: 2px 17% 14px 17%;
  text-align: center;
}

.dropdown-button {
  color: #5c6bc0;
  font-family: 'Courier New';
  font-size: 1.5rem;
}

.ddbtn1 {
  margin: 25px 10px 0 0;
  width: 150px;
}

.ddbtn2 {
  position: relative;
  right: 5px;
  top: 30px;
  width: 150px;
}


.ddcont1 {
  margin-top: 90px;
}

.ddcont2 {
  margin-top: 40px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #5c6bc0;
  font-family: 'Courier New';
  font-size: 1.5rem;
  text-align: center;
}
.dropdown-content li>a, .dropdown-content li>span .ddcont1 {
  right: 20px;
  position: relative;
  text-align: right;
}

.header {
  border-bottom: 1px solid #5c6bc0;
  color: #5c6bc0;
  font-family: 'Courier New';
  position: relative;
  top: 100px;
}

.hello {
  font-family: 'Courier New';
}

.instruct {
  position: relative;
  text-align: center;
  top: 110px;
}

.input-field label {
    color: #333366;
}

.input-field input[type=text]:focus + label {
  color: #5c6bc0;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #5c6bc0;
  box-shadow: 0 1px 0 0 #5c6bc0;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #5c6bc0;
  box-shadow: 0 1px 0 0 #5c6bc0;
}

.input-field input[type=text].invalid {
  border-bottom: 1px solid #ef5350;
  box-shadow: 0 1px 0 0 #ef5350;
}

.select-wrapper .select-dropdown {
  position: relative;
  top: 20px;
}

.logo {
  background-image: URL('../images/logo_extra_small.png');
  background-repeat: no-repeat;
  height: 85px;
  width: 160px;
}

.modal {
  color: #333366;
  font-family: 'Avenir';
}

.modal .modal-footer .btn-flat {
  margin: 85px 0 -40px 0;
}

.modal-footer {
  bottom: 50px;
  position: relative;
}

.nudge_left{
  left: 24px;
  position: relative;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #5c6bc0;
  border-bottom: 2px solid #5c6bc0;
}

.user {
  color: #5c6bc0 !important;
  font-size: 1.5rem !important;
  margin: 35px 0 0 30px;
}

.userSm {
  position: relative;
  right: 18px;
  top: 20px;
}
