h4 {
  color: #333366;
  font-family: 'Avenir';
  font-weight: 100;
  padding-top: 40px;
  text-align: center
}

nav {
  background-color: white;
  background-image: URL('../images/paper.jpg');
  height: 90px;
}

nav ul a {
  color: #333366;
  font-family: 'Courier New';
  font-size: 1.39rem;
  margin: 0 0 0 -20px;
  text-align: center;
  width: 160px;
}

.add {
  position: absolute;
  margin: 15px 0 0 25px
}

.brand-logo {
  margin: 4px 0 0 0;
}

.dropdown-button {
  color: #5c6bc0;
  font-family: 'Courier New';
  font-size: 1.5rem;
}

.ddbtn1 {
  margin: 25px 10px 0 0;
  width: 150px;
}

.ddbtn2 {
  position: relative;
  right: 5px;
  top: -10px;
  width: 150px;
}


.ddcont1 {
  margin-top: 90px;
}

.ddcont2 {
  margin-top: 40px;
}


.dropdown-content li>a, .dropdown-content li>span .ddcont1 {
  color: #5c6bc0;
  font-family: 'Courier New';
  font-size: 1.5rem;
  text-align: center;
}

.btn-large {
  background-color: #5c6bc0;
  font-family: 'Courier New';
  font-size: 1.1em;
  height: 80px;
  line-height: 80px;
  margin: 0 0 15px 15px;
  position: relative;
  top: 5vh;
  width: 175px;
}

.left {
  text-align: right
}

.logo {
  background-image: URL('../images/logo_extra_small.png');
  background-repeat: no-repeat;
  height: 85px;
  width: 160px;
}

.btn-large:hover {
  background-color: #9fa8da;
}

.btn {
  color: #5c6bc0
}

.dropdown-content li>span {
  color: #5c6bc0;
}

.responsive-img {
  padding: 15px;
}

input.select-dropdown {
  text-align: center;
  font-size: 2rem;
}

input.select-dropdown,
.dropdown-content li>span {
  font-family: 'Courier New';
  font-size: 1.5rem
}

.select-wrapper input.select-dropdown {
  font-size: 2rem;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #5c6bc0;
  border-bottom: 2px solid #5c6bc0;
}

.input-field {
  margin-top: 40px;
}

.top {
  margin-bottom: 60px;
}

.middle {
  margin-bottom: 60px;
}

.select-border {
  border: 2px solid #039be5;
  border-radius: 10px;
  padding: 13px;
}

.site-li {
  font-family: 'Avenir';
  font-size: 20px;
}

.user {
  color: #5c6bc0 !important;
  font-family: 'Courier New';
  font-size: 1.5rem !important;
  margin: 35px 0 0 30px;
}

.userSm {
  position: relative;
  right: 18px;
  top: -20px;
}

/* --- medium screen --- */
@media only screen and (max-width: 600px) {

  .dropdown-content li>a, .dropdown-content li>span .ddcont2 {
    color: #5c6bc0;
    font-family: 'Courier New';
    font-size: 1.5rem;
    text-align: right;
  }

  .btn-large {
    line-height: 80px;
    margin: 10px 0;
    top: 5vh;
    width: 165px;
  }

  h4 {
    font-size: 1.8em;
  }
}

/* --- small screen --- */
@media only screen and (max-width: 415px) {

  #welcome-header {
    font-size: 1.9em
  }

  h4 {
    font-size: 1.6em;
  }

  .btn-large {
    top: 1vh;
    width: 190px;
    margin-bottom: 15px
  }

  .left,
  .right {
    text-align: center;
  }

}
